/* Additional Fonts */
@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import url('https://fonts.googleapis.com/css?family=Rosarivo');

body {
  /*background-color: #FAFAFA;*/
  background-color: #293588;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:  'Rosarivo', serif;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  box-sizing: border-box;
  background: ;
  margin-bottom: 20px;
}
header .logo {
  max-width: 100px;
  width: 100%;
}

/* Headings */ 
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: 'Germania One', cursive;
  font-weight: 400;
}

h1 a img {
  background-color:;
}
#wrapper {
}

.markdown-body{
position: relative;
padding: 40px;
}
.markdown-body img {
  display: block;
  margin: 0 auto;
}
.markdown-body h1 {
  text-align: center;
}
.markdown-header {
  box-sizing: border-box;
  padding: 20px;
  width: 80%;
  color: white;
  font-family:  'Rosarivo', serif;
  /*background-color: white;*/
}
.markdown-body img{
  background-color: #ffffff1a;
  height: 150px;
};

}
.markdown-header img {
  float: right;
}

#moz-niec {
  background: #f0f0f0;
  color: black;
  width: 100%;
  padding: 40px;
}
#moz-niec p {
  font-family:  'Rosarivo', serif;
  font-size: 16px;
  line-height: 1.2;
}

#moz-heading {
  font-family: 'Abril Fatface', cursive;
  padding: 20px 0;
}
h4{
  color: #ff5e00;
}
#schedule {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: black;
  padding: 80px;
}

#venue {
  width: 20%;
  margin-right: 10px;
  background: #ff5e00;
}
#schedule .btn {
  display: inline-block;
}
.schedule-detail h3,
.schedule-detail p {
  color: #fff;
}

.schedule-detail p {
    font-family:  'Rosarivo', serif;
}
#data-time {
  width: 20%;
  background: #ff5e00;
  font-family: 'Anton', sans-serif;
}

#register{
float: center;

font-family: 'Anton', sans-serif;

}
#register .btn{
  font-size: 29px;
}
.schedule-detail {
  background-color: #ecf0f1;
  padding: 15px;
  border: 1px dashed black;
  border-radius: 10px;
  width: 40%;
  min-width: 250px;
  margin-right: 10px;
}
.schedule-detail h3,
.schedule-detail p {
  margin: 0 0 5px 0;
}

#sponsor {

margin-top: 40px;
padding: 40px;
background: #f0f0f0;
}

#sponsor_content{
padding: 20px;
font-size: 16px;
font-weight: bolder;
font-family: 'Poiret One', cursive;
}

#org{
  color: white;
  padding: 20px;
}

#footer{
  background: #f0f0f0;

}

a {
  color: #ff5e00 !important;
}

@media (max-width: 640px) {
  .schedule-detail {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}
