
@font-face{
    font-family: 'Open Sans', sans-serif;
    src: url('assets/images/fonts/Open Sans/OpenSans-Regular.ttf');
}
 body{
 	/*background-color: #FAFAFA;*/
 	background-color: #293588;
        font-family: 'Open Sans', sans-serif;
 }

 #wrapper{
 	display: flex;
    justify-content: center;

 }

 .logo{
    width: 200px;
 }

 .markdown-body{
 	box-sizing: border-box;
 	padding: 10px;
 	width: 80%;
	color: white;
	font-family: 'Open Sans', sans-serif;
 	/*background-color: white;*/
 }

 #schedule{
	box-sizing: border-box;
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 	color: black;

 }

 #venue{
 	width: 40%;
 	margin-right: 10px;
 }

 #data-time{
 	width: 30%;
 }

.schedule-detail {
    background-color: #ecf0f1;
    padding: 15px;
    border: 1px dashed black;
    border-radius: 10px;
    width: 40%;
    min-width: 250px;
    margin-right: 10px;
}
.schedule-detail h3,
.schedule-detail p {
  margin: 0 0 5px 0;
}

#register {
    box-sizing: border-box;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

a {
    color: #ff5e00 !important;
}

@media (max-width: 640px) {
  .schedule-detail {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}
